* {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
	font-weight: 300;
    font-style: normal;
    background-color: #252525; /* Цвет фона */
    color: #fff; /* Цвет текста */    

}

body {
    margin: 0;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
	  font-weight: 300;
    font-style: normal;
    background-color: #333; /* Цвет фона */
    color: #fff; /* Цвет текста */
    
  }

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 0;
  
}

  .container {
    display: flex;
    justify-content: space-between;
    
    padding: 10px 10px;
    background-image: none;
    
  }
  
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Добавляем внутренние отступы */
    padding: 15px 15px;
    background-image: none;
    
  }

  .logo img {
    max-height: 100px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 10px;
    
    background-image: none;
  }
  
  nav ul li {
    display: inline;
    margin-left: 20px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff; /* Цвет текста */
    font-size: 20px;
    font-weight: bold;
    padding: 5px 15px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(255, 255, 255, 1); /* Добавляем тень */
	transition: background-color 0.2s;
  }
  
    nav ul li a:active {
        background-color: #3481B8;
        color: #154889;
        }
  
  nav ul li a:hover {
    border-color: #4169E1; /* Цвет рамки при наведении */
    background-color: rgba(255, 140, 0, 0.1); /* Цвет фона при наведении */
    color: #4169E1; /* Цвет текста при наведении */
    transform: scale(1.0); /* Увеличение размера текста при наведении */
    box-shadow: 0 0 10px #4169E1; /* Увеличиваем тень при наведении */
    
  }
  
  .auth-panel {
    
    flex-direction: column; /* Располагаем элементы вертикально */
    align-items: center; /* Центрируем элементы по горизонтали */
    margin-top: 10px; /* отступ сверху */
  }


  .auth-panel h2 {
    margin: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 35px;
   
  }
  
  .input-container {
    
    display: flex;
    justify-content: center; /* Центрирован
    ие элементов по горизонтали */
  }
  
  .input-container input {
  
    width: 400px; /* ширина поля ввода */
    border: 2px solid #536cbd;
    border-radius: 5px;
    font-size: 25px;
  }
  
/* Стили для кнопки "Войти" */
.login-button {
    font-size: 20px;
    text-decoration: none;
    color: #fff; /* Цвет текста */
    font-weight: bold;
    padding: 5px 15px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(255, 255, 255, 1); /* Мягкая тень */
    cursor: pointer;
	  transition: background-color 0.2s;
  }
  
  .login-button:hover {
    border-color: #4169E1; /* Цвет рамки при наведении */
    background-color: rgba(255, 140, 0, 0.1); /* Цвет фона при наведении */
    color: #4169E1; /* Цвет текста при наведении */
    transform: scale(1.0); /* Увеличение размера текста при наведении */
    box-shadow: 0 0 10px #4169E1; /* Увеличиваем тень при наведении */
  }
  .login-button:active {
        background-color: #3481B8;
        color: #154889;
        }


footer {
    display: flex; /* Используем flexbox */
    justify-content: center; /* Выравниваем содержимое по горизонтали по центру */
    align-items: center; /* Выравниваем содержимое по вертикали по центру */
    height: 100px; /* Высота футера, если требуется */
}

.input-container {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Центрируем содержимое по горизонтали */
}

.input-container input {
  padding: 10px; /* Добавляем отступы вокруг текста внутри поля ввода */
  border: 1px solid #ccc; /* Добавляем границу для поля ввода */
  border-radius: 5px; /* Скругляем углы */
  font-size: 16px; /* Устанавливаем размер шрифта */
}

.input-container input:focus {
  outline: none; /* Убираем обводку при фокусе */
  border-color: #007bff; /* Изменяем цвет границы при фокусе */
  box-shadow: 0 0 5px #007bff; /* Добавляем тень при фокусе */
}

.reg-panel {
  width: 400px; /* Ширина панели регистрации */
  margin: 0 auto; /* Центрирование по горизонтали */
}

h {
  display: block;
  text-align: center; /* Выравнивание заголовка по центру */
}

#container {
  position: relative;
}

h3 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

ul {
  
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем отступы внутри списка */
}

li {
  margin-bottom: 20px; /* Отступ между каждой строкой регистрации */
  text-align: left; /* Центрируем содержимое строки */
  
}

label {
  display: inline-block; /* Показываем метку как блочный элемент */
  width: 75px; /* Ширина метки */
  margin-right: 10px;
  margin-left: 10px; /* Отступ справа от метки */
  text-align: right; /* Выравнивание текста метки по правому краю */
}

input[type="text"],
input[type="password"] {
  padding: 5px; /* Отступы внутри поля ввода */
  width: 250px; /* Ширина поля ввода */
  margin-bottom: 10px;
  
}

        select, button {
            padding: 18px;
            margin: 5px;
            font-size: 18px;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.2s;
            box-shadow: 0 0 5px rgba(255, 255, 255, 1); /* Мягкая тень */
		}

.reg-label {
  background-color: #6c7077;
  border-radius: 5px;
}

ul {
  border-radius: 5px;
}
		.form-control {
		    margin: 0 auto;
			display: block;
			width: 100%;
			padding: 0.375rem 0.75rem;
			font-size: 1rem;
			line-height: 1.5;
			color: #495057;
			background-color: #5a5a64;
			background-clip: padding-box;
			border: 1px solid #2F4F4F;
			border-radius: 0.25rem;
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
			box-shadow: 0 0 5px rgba(255, 255, 255, 1); /* Мягкая тень */
        }
        button:active {
            background-color: #3481B8;
            color: #154889;
        }
        #select {
            width: 400px;
        }
        #container {
            display: 300;
            margin: 0 auto;
            text-align: center;
            width: 300px;
            justify-content: center;
        }
        #calculator {
            margin-left: 20px;
            width: 250px;
        }
        calculator button.zero {
            width: 180px;
        }

/*  стили flash сообщений */

.flash-messages {
  position: center;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.flash-message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
}

.alert-success {
  background-color: #B22222;
  border-color: #0000FF;;
  color: #ffffff;
}

.alert-error {
  background-color: #B22222;
  border-color: #0000FF;
  color: #ffffff;
}

        