<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Подключаем онлайн шрифты гугла -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
</head>
<body>
    {% include 'flash_messages.html' %}
    <header>
        <div class="container">
          <div class="logo">
              <a href="/">
                  <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Логотип компании">
              </a>
          </div>
            <nav>{% block nav %}{% endblock %}</nav>
        </div>
    </header>
	<div class="main-container">
    {% block content %}
    {% endblock %}
	</div>
	  
	 <footer>
    <div>
        <small>© LEV YASHIN PRODUCTION 2024</small>
    </div>
</footer>
</body>
</html>