{% extends 'base.html' %}
{% block title %}Учет картриджей{% endblock %}
{% block nav %}
    <ul>
        <li><a href="/">Авторизация</a></li>
    </ul>
{% endblock %}
{% block content %}

    <div id="container">
        <div>
            <form action="/submit" method="post">
            <select class="form-control" id="cartrige" name="cartrige" required autofocus="autofocus">
                <option value="option" selected>Выберите картридж из списка</option>
                {% for cartrige in cartriges %}
                    <option value="{{ cartrige.id }}">{{ cartrige.name }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="button">Принять</button>
            <button type="button">Выдать</button>
           </form>
        </div>

        <div id="calculator" class="form-cart">
            <input type="text" class="input-container" disabled>
            
            <button type="button" onclick="appendToDisplay('1')">1</button>
            <button type="button" onclick="appendToDisplay('2')">2</button>
            <button type="button" onclick="appendToDisplay('3')">3</button>
            
            <button type="button" onclick="appendToDisplay('4')">4</button>
            <button type="button" onclick="appendToDisplay('5')">5</button>
            <button type="button" onclick="appendToDisplay('6')">6</button>
            
            <button type="button" onclick="appendToDisplay('7')">7</button>
            <button type="button" onclick="appendToDisplay('8')">8</button>
            <button type="button" onclick="appendToDisplay('9')">9</button>
            
            <button type="button" class="zero" onclick="appendToDisplay('0')">0</button>
            
            <button type="button" class='clear' onclick=clearDisplay()>Сбросить</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

